#wrap {
  min-width: 1440px;
  line-height: 1.5;
  font-size: 17px;
}
.inwrap {
  width: 1440px;
  padding: 0 20px;
  margin: auto;
}
a.btn {
  font-size: 25px;
  border: 3px solid;
  border-radius: 20px;
  padding: 10px;
  text-align: center;
  width: 330px;
}
.btn1 {
  border-color: #fff;
  box-shadow: 2px 3px 5px rgba(48, 48, 48, 0.444);
}
.btn_blue {
  color: #2196f3;
  border-color: #2196f3;
}
.btn_green {
  color: #39b068;
  border-color: #39b068;
}
.btn_white {
  color: #b9dfff;
  border-color: #b9dfff;
}
.btn_red {
  color: #de3030;
  border-color: #de3030;
}
.btn_purple {
  color: #83519f;
  border-color: #83519f;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  color: #fff;
  padding-top: 50px;
  z-index: 10;
}
.bg {
  background-color: rgba(0, 0, 0, 0.712);
}
#header .inwrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#header .inwrap nav {
  display: flex;
  align-items: center;
  font-size: 18px;
}
#header .inwrap nav ul {
  display: flex;
}
#header .inwrap nav ul li {
  padding: 0 22px;
}
#header .inwrap nav button {
  padding-left: 22px;
}

#banner {
  background-image: url("../img/grapic.jpg");
  height: 1020px;
  background-size: cover;
  padding-top: 300px;
  text-shadow: 2px 3px 5px rgb(35, 35, 35);
  color: #fff;
  position: relative;
}
#banner::after {
  content: "";
  display: block;
  width: 100%;
  height: 1020px;
  background-color: rgba(0, 0, 0, 0.169);
  position: absolute;
  top: 0;
  left: 0;
}
#banner .inwrap {
  position: relative;
  z-index: 10;
}
#banner h2 {
  font-size: 60px;
  font-weight: bold;
}
#banner p {
  padding: 50px 0;
}

#banner2 {
  height: 582px;
  background-color: #252525;
  color: #fff;
  text-align: center;
  padding: 100px 0;
  background-image: url("../img/map.png");
  background-repeat: no-repeat;
  background-position: center bottom;
}
#banner2 h3 {
  font-size: 40px;
  font-weight: bold;
}
#banner2 p.tit {
  font-size: 20px;
}
#banner2 p.tit::after {
  content: "";
  display: block;
  width: 1px;
  height: 114px;
  background-color: #fff;
  margin: 30px auto;
}
#banner2 p.txt {
  font-size: 15px;
}

#content {
  font-weight: 300;
}
strong {
  font-weight: bold;
}
i {
  font-style: italic;
}
#content .inwrap {
  background-repeat: no-repeat;
  background-size: 46%;
  background-position-y: center;
}
#content > div {
  margin-top: 200px;
}
#content > div .inwrap {
  padding: 100px 0 40px 0;
}
#content > div .con_box {
  width: 460px;
}
#content > div h3 {
  font-size: 40px;
}
#content > div h3::after {
  content: "";
  display: block;
  width: 114px;
  height: 7px;
  background-color: #2196f3;
  margin: 30px 0 50px 0;
}
#content > div p {
  margin-bottom: 30px;
}
#content > div a {
  margin-top: 100px;
}
#con1 .inwrap {
  height: 750px;
  background-image: url("../img/s1.png");
  background-position-x: right;
}
#con2 {
  background-color: #f9f9f9;
}
#con2 .inwrap {
  background-image: url("../img/s2.png");
  background-position-y: center;
}
#con2 .con_box {
  margin-left: auto;
}
#con3 .inwrap {
  background-position-x: right;
  background-image: url("../img/s3.png");
}
#con3 .con_box h3::after {
  background-color: #39b068;
}
#con4 {
  background-color: #1979ca;
  color: #fff;
}
#con4 .inwrap {
  background-image: url("../img/s4.png");
}
#con4 .con_box {
  margin-left: auto;
}
#con4 .con_box h3::after {
  background-color: #b9dfff;
}
#con5 .inwrap {
  background-image: url("../img/s5.png");
  background-position-x: right;
}
#con5 .con_box h3::after {
  background-color: #83519f;
}
#con6 {
  background-color: #464646;
  color: #fff;
}
#con6 .inwrap {
  background-image: url("../img/s6.png");
}
#con6 .con_box {
  margin-left: auto;
}
#con6 .con_box h3::after {
  background-color: #de3030;
}
#con7 .inwrap {
  background-image: url("../img/s7.png");
  background-position-x: right;
}
#con7 .con_box h3::after {
  background-color: #5283de;
}

#footer {
  margin-top: 200px;
  background-color: #21202e;
  color: #fff;
  font-size: 14px;
}
#footer h5 {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 38px;
}
#footer ul {
  font-weight: 300;
  color: rgba(255, 255, 255, 0.691);
}
#footer ul li {
  margin-bottom: 20px;
}
#footer .ft1 .inwrap {
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
}
#footer .ft1 .inwrap > div {
  width: 25%;
}
#footer .ft1 .ft1_1 img {
  width: 190px;
}
#footer .ft1 .ft1_1 .sns {
  margin-top: 18px;
  display: flex;
}
#footer .ft1 .ft1_1 .sns li a {
  width: 54px;
  height: 54px;
  background-image: url("../img/i-sns.png");
  text-indent: -9999px;
  margin-right: 14px;
}
#footer .ft1 .ft1_1 .sns li a.sns_y {
  background-position-x: -57px;
}
#footer .ft1 .ft1_1 .sns li a.sns_i {
  background-position-x: -115px;
}
#footer .ft1 .ft1_4 ul {
  margin-bottom: 30px;
}
#footer .ft1 .ft1_4 ul li a {
  padding-left: 38px;
  height: 30px;
  background-image: url("../img/i-contact.png");
  background-repeat: no-repeat;
}
#footer .ft1 .ft1_4 ul li a[href^="tel"] {
  background-position-y: -3px;
}
#footer .ft1 .ft1_4 ul li a[href^="mailto"] {
  background-position-y: -34px;
}
#footer .ft1 .ft1_4 form {
  width: 325px;
  position: relative;
}
#footer .ft1 .ft1_4 input {
  width: 100%;
  height: 54px;
  border: 1px solid #484753;
  background-color: transparent;
  padding: 16px;
  padding-right: 70px;
  color: #fff;
}
#footer .ft1 .ft1_4 button {
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 54px;
  background-color: #2179ee;
  text-indent: -9999px;
  background-image: url("../img/i-send.png");
  background-repeat: no-repeat;
  background-position: center;
}

#footer .ft2 {
  text-align: center;
  color: rgba(255, 255, 255, 0.417);
  padding: 36px 0 54px 0;
  border-top: 1px solid #393845;
  margin-top: 50px;
}

/* 추가 */
#header nav ul li a::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  margin: auto;
  background-color: #fff;
  margin-top: 10px;
}
#header nav ul li a:hover::after {
  width: 100%;
  transition: 0.5s;
}
.btn {
  transition: 0.5s;
}
.btn:hover {
  transform: scale(1.05);
  transition: 0.5s;
}
.btn_top {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: gray;
  color: #fff;
  text-align: center;
  line-height: 40px;
  position: fixed;
  bottom: 20px;
  right: 20px;
}
